doctype html
html(lang='en')
    head
        title CSDesign
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/public/css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="/public/css/libs/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/public/css/libs/materialize.css")
        link(rel="stylesheet" href="/public/css/style.css")
        link(rel="stylesheet" href="/public/fonts/font-awesome/css/font-awesome.min.css")
    body

        mixin menu()
            li
                a(href="/gallery") #{lang.__('gallery')}
            li
                a(href="/order") #{lang.__('order')}
            li
                a(href="/faq") FAQ
            li
                a(href="/about") #{lang.__('about')}
            if(typeof user !== "undefined" && user.role == locals.constants.ROLE_DESIGNER)
                li
                    a(onclick="openModal(modal_menu_designer)")
                        i.fa.fa-gear
            if(typeof(user) == "undefined")
                li
                    a.waves-effect.waves-light.btn.btn-sm(href="/login") #{lang.__('login')}
            else
                li
                    a.waves-effect.waves-light.btn.btn-sm(href="/login") #{lang.__('logout')}

        nav
            .nav-wrapper
                a.brand-logo.text-secondary(href="/") #{lang.__('asso_name')}
                a.button-collapse.text-secondary(href="#" data-activates="mobile-demo")
                    i.fa.fa-bars
                ul.right.hide-on-med-and-down
                    +menu()

                ul.side-nav#mobile-demo
                    +menu()

        block content

        if(typeof user !== "undefined" && user.role == locals.constants.ROLE_DESIGNER)
            //Designer modal
            #modal_menu_designer.modal.fade.bottom-sheet(tabindex="-1" role="dialog")
                .modal-content
                    .modal-header
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                        h6 Designer menu
                    .modal-body
                        a.btn(href="/order/all")
                            i.left.fa.fa-pencil
                            span All orders
                        span &nbsp;
                        a.btn(href="/order/assigned")
                            i.left.fa.fa-clock-o
                            span Assigned orders
                        span &nbsp;
                        a.btn(href="/user/all")
                            i.left.fa.fa-user
                            span User rights

        footer.page-footer
            .container
                .row
                    p blabla
            .footer-copyright
                .container
                    p © 2017 CentraleSupélec Design
                    a.grey-text.text-lighten-4.right(href="#") More Links


        block scripts
            script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
            script(type="text/javascript" src="/public/js/libs/bootstrap.min.js")
            script(type="text/javascript" src="/public/js/libs/materialize.min.js")
            script(type="text/javascript" src="/public/js/ui/translation.js")
            script(type="text/javascript" src="/public/js/ui/requests.js")
            script(type="text/javascript" src="/public/js/ui/index.js")