extends layout
block content
   main
      .container
         br
         br
         h1 #{user.username} orders
         ul.collection#my_orders
            each order in orders
               li.collection-item
                  span.title ##{order.id} : #{order.title}
                  p #{locals.prettyDate(order.createdAt)} &bull; for : #{locals.prettyDate(order.deadline)}
                  p=order.comment
                  span.secondary-content
                     i.fa.fa-dot-circle-o
