-function designerList(order){
- var tabEmails = order.designer_emails.split(','), tabIds = order.designer_order_ids.split(','), tab = [];
- for(var i=0;i<tabIds.length;i++) {
-     tab.push({email : tabEmails[i].substring(0,tabEmails[i].indexOf('@')),id : tabIds[i]});
-  }
- return tab;
-}


table
   thead
      tr
         th(data-field="Type").hide-on-small-and-down Type
         th(data-field="createdAt") #{lang.__('creation_date')}
         th(data-field="id") #{lang.__('title')}
         if(page !=='my')
            th(data-field="user").hide-on-small-and-down #{lang.__('orderer')}
         if(page =='all')
            th(data-field="designer") #{lang.__('assignees')}
         th(data-field="deadline") #{lang.__('deadline')}
         if(page == 'all')
            th(data-field="actions")

   tbody
      if (orders.length)
         each order in orders
            tr(data-id=order.id)
               //Type illustration
               td.hide-on-small-and-down
                  img.circle(alt=order.type src="/public/images/icons/" + order.type + ".png")
               //Created at
               td=locals.prettyDate(order.createdAt)
               //Title
               td
                  a(href="/order/"+order.id) ##{order.id} : #{order.title}
               //Creator
               if(page !=='my')
                  td.hide-on-small-and-down=order.creator
               if(page =='all')
                  td
                     if(order.designer_order_ids)
                        - var tab = designerList(order)
                        each elem in tab
                           span.badge-designer(data-id=elem.id)=elem.email
                     else
                        i.text-error.fa.fa-times
               td=locals.prettyDate(order.deadline)
               if(page == 'all')
                  td
                     a.dropdown-button.waves.waves-purple(href='#' data-activates='dropdown-'+order.id)
                        i.right.fa.fa-ellipsis-v.order-action

                     ul(id="dropdown-"+order.id).dropdown-content
                        li(onclick="openModal(modal_set_designer,"+order.id+")") #{lang.__('action_assign_designer')}
                        li(onclick="unassignDesigner("+order.id+")") #{lang.__('action_unassign_designer')}
                        li(onclick="openModal(modal_delete_order,"+order.id+")") #{lang.__('action_delete_order')}
      else
         tr
            td
            td
            td
               span You have made no order yet.
               a.right.btn.waves.waves-light(href="/order") #{lang.__("order")}
            td
            td
